body {
  background-color: #11e9b3;
}
img {
  width: 500px;
  height: 500px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: rgb(255, 255, 255);
}

span {
  font-size: 5em;
}

button {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  background-color: #09ff00;
  text-transform: uppercase;
}